h1 {
    margin-left: 40%;
    margin-top: 30%;
    width: fit-content;
    color: black;
    border: 13px solid black;
    border-width: fit-content;
    
}
body{
    background: url("D:/Pictures/Background/bg.png") no-repeat 50% 50%;
    
}

#id1{
    background-color:rgba(163, 211, 167, 0.4);
    margin-top: 10%;
    text-align: center;
    word-spacing: 2em;
}
.key kbd{
    text-align: center;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
    
}
.key{
    margin: 30px;
    border: 3px solid black;
    padding: 15px;
    display: inline-block;
    background-color:rgba(129, 22, 230, 0.5);
    transition: all 0.3s;
}
.key span{
    color: orange;
}
.playing{
    box-shadow: 0 0 10px red;
    font-weight: bold;
    /*the jerking effect occurs after this font weight */
    transform: scale(2,2);
}    
