html{
    box-sizing: border-box;
    height: 100vh;
    font-family: monospace;
}
*{
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(pink,cyan,purple);
    height: fit-content;
}

.app-wrap{
    border: 7px solid black;
    border-radius: 7px;
    height: 90vh;
    width: 50vh;
    overflow: auto;
    margin: 0 auto;
    background: white;
    font-family: 'Antic Slab', serif;
}
header{
    background-color: rgb(0, 0, 0);
    color: orange;
}
a{
    background-color: rgba(240, 248, 255, 0.246);
    padding: 10px;
    color: orange;
    text-align: center;
}
img{
    float: left;
    max-width: 25vh ;
    margin-right: 10px;
}

.content{
    display: inline-block;
    padding: 10px;
}

.icon-bar a{
    background-color: orange;
    color: aliceblue;
    display: block;
}